import Csv file using pandas

In [14]:
import pandas as pd
df = pd.read_csv("DataSet.csv")
df

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223
...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2301610000999923016,75,201,Not Delivered,2021-10-16,Home,Sofia,20,14.0,Kenya,H-555,444885
9995,1847410000999918474,37,135,Shipped,2021-10-03,Healthcare,Maria,30,23.0,China,HC-901,444772
9996,2385710000999923857,81,207,Delivered,2021-11-13,Office,Emma,29,18.0,USA,O-203,445113
9997,2281610000999922816,18,117,Shipped,2021-12-23,Fashion,Stella,22,24.0,Italy,F-101,445553
9998,1468010000999914680,53,229,Delivered,2021-07-12,Entertainment,Anthony,25,12.0,Singapore,ENT-630,443889

## head()
##### This function helps you to get the first few rows of the dataset. By default, it returns the first 5 rows.
##### However, you can change this number by simply mentioning the desired number of rows
###### in df.head()

In [13]:
df.head(101)

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223
...,...,...,...,...,...,...,...,...,...,...,...,...
96,3070510000999930705,60,120,Not Delivered,2021-08-03,Office,John,23,18.0,India,O-188,444111
97,3008110000999930081,81,226,Shipped,2021-07-15,Healthcare,Sofia,22,19.0,Italy,HC-901,443992
98,3059610000999930596,35,167,Not Shipped,2021-11-25,Home,Abdul,34,25.0,Germany,H-555,445225
99,3206210000999932062,19,197,Delivered,2021-09-10,Office,Stella,30,18.0,Italy,O-630,444449
100,4040610000999940406,93,197,Not Delivered,2021-09-07,Office,John,20,13.0,India,O-630,444446

## df.tail()
##### This function helps you to get the last few rows of the dataset. By default, it returns the last
###### 5 rows, and similar to .head(), you can simply mention the desired number of rows
###### in df.tail()

In [3]:
df.tail()

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
9994,2301610000999923016,75,201,Not Delivered,2021-10-16,Home,Sofia,20,14.0,Kenya,H-555,444885
9995,1847410000999918474,37,135,Shipped,2021-10-03,Healthcare,Maria,30,23.0,China,HC-901,444772
9996,2385710000999923857,81,207,Delivered,2021-11-13,Office,Emma,29,18.0,USA,O-203,445113
9997,2281610000999922816,18,117,Shipped,2021-12-23,Fashion,Stella,22,24.0,Italy,F-101,445553
9998,1468010000999914680,53,229,Delivered,2021-07-12,Entertainment,Anthony,25,12.0,Singapore,ENT-630,443889

## df.sample(9)
###### This function is used to get a randomly selected row, column, or both from a dataset.
###### df.sample() takes 7 optional parameters, which means this function can be run without using
######  any argument as below.

In [7]:
df.sample(9)

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
5900,3236710000999932367,26,143,Delivered,2021-09-21,Entertainment,John,21,16.0,Italy,ENT-101,444660
4336,3452310000999934523,100,154,Shipped,2021-07-17,Entertainment,John,28,20.0,China,ENT-203,443994
4688,2569710000999925697,53,203,Delivered,2021-08-24,Entertainment,Sofia,21,14.0,USA,ENT-203,444332
206,1577810000999915778,82,126,Not Shipped,2021-12-13,Home,John,32,17.0,Kenya,H-555,445443
137,2414210000999924142,65,158,Not Shipped,2021-10-24,Home,Kristen,22,17.0,Kenya,H-101,444993
3673,1727910000999917279,36,238,Not Delivered,2021-10-18,Home,Anthony,21,17.0,India,H-555,444887
752,3489910000999934899,81,169,Not Delivered,2021-10-16,Fashion,Maria,21,13.0,Singapore,F-203,444885
779,3382310000999933823,93,207,Not Shipped,2021-07-29,Home,Sofia,25,25.0,Germany,H-630,444006
3872,1198010000999911980,3,120,Not Shipped,2021-10-04,Home,Maria,33,16.0,Kenya,H-901,444773

## df.info()
###### This function returns a quick summary of the DataFrame. This includes information about
######  column names and their respective data types, missing values, and memory consumption
######  by DataFrame, as shown below.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OrderID              9999 non-null   int64
 1   Quantity             9999 non-null   int64
 2   UnitPrice(USD)       9999 non-null   int64
 3   Status               9999 non-null   object
 4   OrderDate            9999 non-null   object
 5   Product_Category     9963 non-null   object
 6   Sales_Manager        9999 non-null   object
 7   Shipping_Cost(USD)   9999 non-null   int64
 8   Delivery_Time(Days)  9948 non-null   float64
 9   Shipping_Address     9999 non-null   object
 10  Product_Code         9999 non-null   object
 11  OrderCode            9999 non-null   int64
dtypes: float64(1), int64(5), object(6)
memory usage: 937.5+ KB

## df.describe()
###### This function returns descriptive statistics about the data. This includes minimum,
######  maximum, mean (central tendency), standard deviation (dispersion) of the values in
######  numerical columns, and the count of all non-null values in the data, as shown below.
######  df.describe()

df.describe()

## df.query()
###### This function is used to query the DataFrame based on an expression. An expression can
######  be as simple as a single condition and as complex as a combination of multiple conditions.

In [74]:
df.query("Quantities > 92")

,OrderID,Quantities,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
9450,2502610000999925026,100,236,Not Shipped,2021-09-07,Healthcare,Abdul,24,24.0,Italy,HC-901,444446
2719,2829410000999928294,100,117,Not Shipped,2021-08-24,Home,Jacob,24,13.0,UK,H-630,444332
6755,3107210000999931072,100,185,Not Shipped,2021-08-20,Fashion,Kristen,21,12.0,USA,F-203,444228
9164,3821310000999938213,100,101,Not Shipped,2021-10-26,Office,Jacob,35,10.0,UK,O-630,444995
4083,1490310000999914903,100,170,Shipped,2021-09-12,Home,Stella,32,23.0,UK,H-101,444551
...,...,...,...,...,...,...,...,...,...,...,...,...
3942,3065410000999930654,93,119,Not Delivered,2021-12-24,Office,Stella,28,10.0,USA,O-901,445554
2030,1311410000999913114,93,198,Shipped,2021-07-22,Home,Emma,22,23.0,India,H-203,443999
7760,2456610000999924566,93,182,Delivered,2021-10-17,Fashion,Stella,23,24.0,China,F-188,444886
3837,2613710000999926137,93,119,Not Delivered,2021-09-02,Healthcare,John,29,21.0,Singapore,HC-901,444441
2088,3224810000999932248,93,239,Not Shipped,2021-12-30,Office,Maria,25,19.0,Kenya,O-555,445660

## df.loc()
###### This function is a property of DataFrame that returns the group of rows and columns
######  identified by their labels or names.

In [11]:
df.loc[100,"Sales_Manager"]

'John'

## df.unique()
###### This function returns the list of unique values in a column or series. Instead of applying on
###### complete DataFrame, it works only on the selected single column.

In [14]:
df["Sales_Manager"].unique()

array(['Pablo', 'Kristen', 'Abdul', 'Stella', 'Emma', 'John', 'Jacob',
       'Sofia', 'Maria', 'Anthony'], dtype=object)

## df.nunique()
##### The nunique() method returns the number of unique values for each column. By specifying the column axis ( axis='columns' ), the nunique() method searches column-wise and returns the number of unique values for each row.

In [30]:
df["Quantity"].nunique()

100

## df.isnull()
##### The isnull() method returns a DataFrame object where all the values are replaced with a Boolean value True for NULL values, and otherwise False.

In [18]:
df["Sales_Manager"].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
9994    False
9995    False
9996    False
9997    False
9998    False
Name: Sales_Manager, Length: 9999, dtype: bool

## df.fillna()
##### The fillna() method replaces the NULL values with a specified value. The fillna() method returns a new DataFrame object unless the inplace parameter is set to True , in that case the fillna() method does the replacing in the original DataFrame instead.

In [25]:
df2 = df.fillna("none")
print(df2)

                  OrderID  Quantity  UnitPrice(USD)         Status  \
0     2951110000999929511        92             238  Not Delivered
1     2181910000999921819        61             136  Not Delivered
2     3239110000999932391        67             235  Not Delivered
3     1112610000999911126        33             133    Not Shipped
4     1548310000999915483        13             189  Not Delivered
...                   ...       ...             ...            ...
9994  2301610000999923016        75             201  Not Delivered
9995  1847410000999918474        37             135        Shipped
9996  2385710000999923857        81             207      Delivered
9997  2281610000999922816        18             117        Shipped
9998  1468010000999914680        53             229      Delivered

       OrderDate Product_Category Sales_Manager  Shipping_Cost(USD)  \
0     2021-08-08       Healthcare         Pablo                  21
1     2021-10-03           Office         Pablo                  34
2     2021-09-27           Office       Kristen                  25
3     2021-07-30          Fashion         Abdul                  34
4     2021-08-15          Fashion        Stella                  24
...          ...              ...           ...                 ...
9994  2021-10-16             Home         Sofia                  20
9995  2021-10-03       Healthcare         Maria                  30
9996  2021-11-13           Office          Emma                  29
9997  2021-12-23          Fashion        Stella                  22
9998  2021-07-12    Entertainment       Anthony                  25

     Delivery_Time(Days) Shipping_Address Product_Code  OrderCode
0                   25.0        Singapore       HC-188     444116
1                   14.0               UK        O-555     444772
2                   11.0            Kenya        O-188     444666
3                   24.0              USA        F-555     444007
4                   19.0            Kenya        F-555     444223
...                  ...              ...          ...        ...
9994                14.0            Kenya        H-555     444885
9995                23.0            China       HC-901     444772
9996                18.0              USA        O-203     445113
9997                24.0            Italy        F-101     445553
9998                12.0        Singapore      ENT-630     443889

[9999 rows x 12 columns]

## df.sort_values()
##### Pandas sort_values() function sorts a data frame in Ascending or Descending order of passed Column

In [37]:
df.sort_values(by = "Quantity" ,ascending=False , inplace=False)

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
9450,2502610000999925026,100,236,Not Shipped,2021-09-07,Healthcare,Abdul,24,24.0,Italy,HC-901,444446
6075,1649410000999916494,100,149,Not Delivered,2021-12-26,Healthcare,Jacob,34,21.0,China,HC-101,445556
5848,4016510000999940165,100,189,Shipped,2021-07-14,Entertainment,Emma,25,13.0,Italy,ENT-203,443991
3245,4907310000999949073,100,171,Not Delivered,2021-10-06,Entertainment,Kristen,31,24.0,Germany,ENT-555,444775
1350,2321510000999923215,100,117,Delivered,2021-09-27,Fashion,Pablo,35,24.0,China,F-188,444666
...,...,...,...,...,...,...,...,...,...,...,...,...
8818,1106110000999911061,1,167,Delivered,2021-09-13,Healthcare,Stella,31,20.0,Kenya,HC-101,444552
2314,3552710000999935527,1,117,Delivered,2021-12-08,Office,Abdul,33,15.0,China,O-203,445338
2643,4662110000999946621,1,180,Shipped,2021-12-18,Healthcare,Kristen,29,10.0,Kenya,HC-630,445448
1255,1054210000999910542,1,171,Shipped,2021-12-18,Office,Abdul,32,24.0,India,O-901,445448
1739,2120410000999921204,1,163,Not Shipped,2021-10-06,Entertainment,John,23,24.0,USA,ENT-630,444775

## df.value_counts()
##### When you use value_counts on a dataframe, it will count the number of records for every combination of unique values for every column.

In [29]:
df["Quantity"].value_counts()

50    127
15    119
52    118
95    118
94    117
     ...
72     85
12     81
36     81
64     80
40     79
Name: Quantity, Length: 100, dtype: int64

## df.nlargest()
##### Pandas nlargest() method is used to get n largest values from a data frame or a series.

In [32]:
df.nlargest(10,"Quantity")

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
25,3063710000999930637,100,173,Not Delivered,2021-12-22,Office,Jacob,21,23.0,Germany,O-630,445552
54,4861510000999948615,100,237,Shipped,2021-10-03,Office,John,25,13.0,Italy,O-101,444772
185,2768610000999927686,100,241,Not Shipped,2021-12-18,Office,Kristen,29,12.0,UK,O-555,445448
417,1015510000999910155,100,154,Not Delivered,2021-07-31,Entertainment,Kristen,33,10.0,Germany,ENT-101,444008
503,2085610000999920856,100,108,Not Delivered,2021-12-24,Healthcare,Kristen,20,19.0,Kenya,HC-555,445554
551,3442310000999934423,100,218,Not Delivered,2021-09-16,Fashion,Anthony,27,20.0,Kenya,F-901,444555
624,1502710000999915027,100,193,Not Delivered,2021-12-14,Home,Sofia,31,17.0,Singapore,H-203,445444
714,1999110000999919991,100,240,Not Shipped,2021-10-20,Entertainment,Sofia,32,25.0,UK,ENT-901,444889
920,3901110000999939011,100,206,Not Delivered,2021-07-31,Fashion,Anthony,27,11.0,China,F-203,444008
969,4897610000999948976,100,233,Shipped,2021-08-11,Office,Kristen,28,24.0,USA,O-901,444119

## df.nsmallest()
##### The nsmallest() function is used to get the first n rows ordered by columns in ascending order. This method is equivalent to df. sort_values(columns, ascending=True). head(n), but more performant.

In [39]:
df.nsmallest(10,"Quantity")

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
4147,3534810000999935348,1,191,Not Shipped,2021-10-09,Fashion,Pablo,28,16.0,UK,F-555,444778
5137,4305210000999943052,1,119,Not Delivered,2021-07-16,Entertainment,Jacob,30,19.0,Kenya,ENT-901,443993
3878,4712310000999947123,1,173,Shipped,2021-08-20,Healthcare,Anthony,24,15.0,China,HC-555,444228
6103,4009310000999940093,1,197,Delivered,2021-12-22,Fashion,Emma,25,15.0,Germany,F-188,445552
8530,1348910000999913489,1,188,Shipped,2021-09-24,Fashion,Jacob,31,20.0,UK,F-630,444663
3920,2845810000999928458,1,245,Not Delivered,2021-08-14,Office,Anthony,35,16.0,UK,O-101,444222
609,2695810000999926958,1,199,Delivered,2021-09-07,Healthcare,Abdul,27,24.0,Kenya,HC-555,444446
3347,2617410000999926174,1,177,Not Delivered,2021-08-18,Office,Abdul,21,15.0,Singapore,O-101,444226
8658,1261610000999912616,1,121,Not Delivered,2021-12-08,Office,Jacob,24,15.0,India,O-188,445338
7526,1202110000999912021,1,114,Delivered,2021-10-24,Fashion,Anthony,25,21.0,UK,F-188,444993

## df.copy()
##### The copy() method returns a copy of the DataFrame.

##### By default, the copy is a "deep copy" meaning that any changes made in the original DataFrame will NOT be reflected in the copy.

In [42]:
df2 = df.copy()
df2

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
9450,2502610000999925026,100,236,Not Shipped,2021-09-07,Healthcare,Abdul,24,24.0,Italy,HC-901,444446
2719,2829410000999928294,100,117,Not Shipped,2021-08-24,Home,Jacob,24,13.0,UK,H-630,444332
6755,3107210000999931072,100,185,Not Shipped,2021-08-20,Fashion,Kristen,21,12.0,USA,F-203,444228
9164,3821310000999938213,100,101,Not Shipped,2021-10-26,Office,Jacob,35,10.0,UK,O-630,444995
4083,1490310000999914903,100,170,Shipped,2021-09-12,Home,Stella,32,23.0,UK,H-101,444551
...,...,...,...,...,...,...,...,...,...,...,...,...
5952,2228310000999922283,1,203,Not Delivered,2021-12-26,Entertainment,Sofia,20,10.0,China,ENT-630,445556
6918,3018210000999930182,1,250,Not Shipped,2021-09-07,Fashion,Abdul,20,15.0,USA,F-101,444446
5337,1037610000999910376,1,185,Delivered,2021-12-22,Healthcare,Sofia,31,11.0,Italy,HC-901,445552
8242,3263410000999932634,1,130,Delivered,2021-08-24,Healthcare,Pablo,35,10.0,USA,HC-203,444332
1739,2120410000999921204,1,163,Not Shipped,2021-10-06,Entertainment,John,23,24.0,USA,ENT-630,444775

## df.rename()
##### The rename() method allows you to change the row indexes, and the columns labels.

In [9]:
df.rename({"0" : "10"} ,axis=0)
df

,OrderID,Quantities,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223
...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2301610000999923016,75,201,Not Delivered,2021-10-16,Home,Sofia,20,14.0,Kenya,H-555,444885
9995,1847410000999918474,37,135,Shipped,2021-10-03,Healthcare,Maria,30,23.0,China,HC-901,444772
9996,2385710000999923857,81,207,Delivered,2021-11-13,Office,Emma,29,18.0,USA,O-203,445113
9997,2281610000999922816,18,117,Shipped,2021-12-23,Fashion,Stella,22,24.0,Italy,F-101,445553
9998,1468010000999914680,53,229,Delivered,2021-07-12,Entertainment,Anthony,25,12.0,Singapore,ENT-630,443889

## df.where()
##### DataFrame. where() function is similar to if-then/if else that is used to check the one or multiple conditions of an expression in DataFrame and replace with another value when the condition becomes False.

In [60]:
df.where(df["Quantities"] > 92)

df

,OrderID,Quantities,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
9450,2502610000999925026,100,236,Not Shipped,2021-09-07,Healthcare,Abdul,24,24.0,Italy,HC-901,444446
2719,2829410000999928294,100,117,Not Shipped,2021-08-24,Home,Jacob,24,13.0,UK,H-630,444332
6755,3107210000999931072,100,185,Not Shipped,2021-08-20,Fashion,Kristen,21,12.0,USA,F-203,444228
9164,3821310000999938213,100,101,Not Shipped,2021-10-26,Office,Jacob,35,10.0,UK,O-630,444995
4083,1490310000999914903,100,170,Shipped,2021-09-12,Home,Stella,32,23.0,UK,H-101,444551
...,...,...,...,...,...,...,...,...,...,...,...,...
5952,2228310000999922283,1,203,Not Delivered,2021-12-26,Entertainment,Sofia,20,10.0,China,ENT-630,445556
6918,3018210000999930182,1,250,Not Shipped,2021-09-07,Fashion,Abdul,20,15.0,USA,F-101,444446
5337,1037610000999910376,1,185,Delivered,2021-12-22,Healthcare,Sofia,31,11.0,Italy,HC-901,445552
8242,3263410000999932634,1,130,Delivered,2021-08-24,Healthcare,Pablo,35,10.0,USA,HC-203,444332
1739,2120410000999921204,1,163,Not Shipped,2021-10-06,Entertainment,John,23,24.0,USA,ENT-630,444775

## df.drop()
##### The . drop() method is a built-in function in Pandas that allows you to remove one or more rows or columns from a DataFrame. It returns a new DataFrame with the specified rows or columns removed and does not modify the original DataFrame in place, unless you set the "inplace" parameter to True.

In [18]:
df2 = df.drop(2,axis=0)
df2

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223
5,4934810000999949348,51,204,Not Delivered,2021-11-13,Entertainment,Abdul,32,18.0,UK,ENT-188,445113
...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2301610000999923016,75,201,Not Delivered,2021-10-16,Home,Sofia,20,14.0,Kenya,H-555,444885
9995,1847410000999918474,37,135,Shipped,2021-10-03,Healthcare,Maria,30,23.0,China,HC-901,444772
9996,2385710000999923857,81,207,Delivered,2021-11-13,Office,Emma,29,18.0,USA,O-203,445113
9997,2281610000999922816,18,117,Shipped,2021-12-23,Fashion,Stella,22,24.0,Italy,F-101,445553
9998,1468010000999914680,53,229,Delivered,2021-07-12,Entertainment,Anthony,25,12.0,Singapore,ENT-630,443889

## df.corr()
##### The corr() aggregate function returns a coefficient of correlation between two numbers.

In [19]:
 df.corr()

,OrderID,Quantity,UnitPrice(USD),Shipping_Cost(USD),Delivery_Time(Days),OrderCode
OrderID,1.000000,0.008028,0.000866,-0.002899,-0.017483,0.005441
Quantity,0.008028,1.000000,-0.007948,-0.008935,-0.003023,-0.002827
UnitPrice(USD),0.000866,-0.007948,1.000000,-0.002698,-0.013938,0.015882
Shipping_Cost(USD),-0.002899,-0.008935,-0.002698,1.000000,-0.004026,0.008126
Delivery_Time(Days),-0.017483,-0.003023,-0.013938,-0.004026,1.000000,0.008851
OrderCode,0.005441,-0.002827,0.015882,0.008126,0.008851,1.000000